/*
colors used:

color plaette: https://coolors.co/00b598-02bea4-ff5100-f48205-ffffff
also used (for tweaking) : https://mdigi.tools/color-shades/#d56612

text color (black): #000
primary color (orange): #f48205
secondary color (red): #ff5100
contrasting color (turquiose): #00b598
*/

:root {
  --primary-color: #f48205;
  --secondary-color: #ff5100;
  --contrasting-color: #00b598;
  --dark-grey: #2b2b2b;
  --light-grey: lightgrey;
  --text-color-1: white;
  --h-font-weight: 700;
  --h-font-style: italic;
  --button-borders: 3px; /* i feel like this one is unnecessary, but doing just in case */
}

* {
  box-sizing: border-box;
}

body {
  /*background-color: #eff1f6;*/
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* div {
  border: 1px solid green;
} */

.page-header {
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 15px 20px white;
  z-index: 1;
}

.profile {
  /* top: 100px; */
  /* width: 500px;  */
  width: 100%; 
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.sidenav {
  height: 100%; 
  width: 100px; 
  position: fixed; 
  z-index: 1; 
  top: 100px; 
  left: 50px;
  /* background-color: #111; */
  overflow-x: hidden; 
  padding-top: 20px;
}

.content {
  position: absolute;
}

.container {
  top: 100px;
  left: 150px; 
  bottom: 50px;
  width: 80%;
  /* padding: 50px;  */
  padding-left: 70px;
  padding-right: 50px;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.intro {
  padding-top: 3px;
}

.projects, .skills, .about, .contact {
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -1;
}

#img-link {
  text-decoration: none !important;
}

h1 {
  font-size: 30px;
  font-weight: var(--h-font-weight);
  font-style: var(--h-font-style);
}

h2 {
  font-size: 24px;
  font-weight: var(--h-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--h-font-weight);
}

a {
  color: var(--primary-color);
}

a:hover, a:focus {
  text-decoration: none;
}

/*
a:visited {
  color: var(--contrasting-color);
}
*/

a:active {
  color: var(--secondary-color);
}

.nav-link {
  margin: 5px;
  width: 80px;
}

/* reference: https://codepen.io/brownerd/pen/vwfJA */
button,
.button  {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color-1);
  text-decoration: none;
  /* padding: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  transform: skew(-20deg);
  /* border-radius: var(--button-borders);
  border-bottom: var(--button-borders) solid rgba(0, 0, 0, 0.4); */
  transition: opacity 0.5s;
  /*transition-duration: 0.5s;
  transition-property: opacity;
  border-bottom: 4px solid #007a79;*/
}

/* .button__secondary {
  background-color: var(--contrasting-color);
  color: var(--text-color-1);
} */

button:hover, button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 150px;
  margin-right: 40px;
  border-radius: 50%;
}

.logo, .daisy-icon {
  height: 50px;
}

.daisy-icon {
  padding-left: 15px;
}

.page-footer {
  padding-top: 10px;
  clear: both;
  display: flex;
  flex-direction: column;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.gallery {
  background: white;
}

.gallery-cell {
  width: 75%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.slide-links {
  text-align: center;
}

.about-me__text {
  padding-top: 15px;
  color: gray;
}

.about-text {
  padding: 5px; 
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
  margin-left: 15px;
}

.nav-list__item--active {
  text-decoration: none;
}

/* contact form borrowed/adapted from: https://codepen.io/markmurray/pen/JsAhx/ */
input, textarea {
  border: 0; outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  box-shadow: 0 1px 1px rgba(000, 0, 0, 0.5);
  /*box-shadow: 0 1px 1px rgba(black, 0.1);*/
}

#input-submit {
  cursor: pointer;
  width: 85%;
  margin: 20px;
  border-radius: 0px;
  box-shadow: none;
  padding: 5px;
  font: inherit;
}

textarea {
  font: inherit;
  height: 116px;
}

@media (max-width: 500px) {
  .cf-left, .cf-right {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  
  .grid__item {
    /* background-color: var(--light-grey);  */
    /* width: auto; */
    /* min-height: auto;  */
    max-height: 100px;
    max-width: 100px;
    margin: 0;
    padding: 10px;
  }
  
  .skill_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
   /* .grid__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }  */
}


/* @media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
} */

/* @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
} */

/* @media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.daisy-icon {
  animation: 15s spin infinite linear;
}
